* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #005B96;
    color: white;
    padding: 1em;
}

.logo{
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    display: inline-block;
    float: right;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2em;
    margin: 1em 0;
}

.navselected{
    color: #e0d6ff;
    font-style: italic;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1em;
}

#main h2 {
    font-size: 40px;
}

#main p {
    font-size: 30px;
    width: 50%;
}

#main a {
    display: flex;
    justify-content: center;
}

#main a img{
    width: 50%;
    border-radius: 30%;
    border-style: double;
    border-color: black;
    border-width: 10px;
}

.about {
    padding: 20px;
    background-color: #e0d6ff;
    text-align: center;
    padding: 3em 0;
}

#home .cta {
    background-color: #F4A261;
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 5px;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #C6DCC9; 
}

.prodtext{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 2em;
}

.prodtext .title{
    width: 80%;
    border-style: groove;
    border-radius: 100%;
    border-color: #e0d6ff;
    background-color: #b6d0e2;
    font-size: 1.2em;
    font-style: italic;
    font-weight: bolder;
}

#products {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.product {
    background-color: #e0d6ff;
    text-align: center;
    flex-basis: 80%;
    margin-bottom: 3em;
    padding: 1em;
}

.product h3 {
    border-style: ridge;
    background-color: #b6d0e2;
    font-size: 1.5em;
}

.product img {
    width: 80%;
}

.product .buy {
    width: 5em;
    height: 3em;
    background-color: #C6DCC9;
    border-style: ridge;
    border-radius: 25%;
}

.product .buy:active{
    background-color: gainsboro;
}

/*Tablets*/
@media ( 600px <= width <= 1024px) {
    .product {
        flex-basis: 40%;
    }
    .prodtext .title {
        width: 40%; 
    } 
}

/*Desktop*/
@media (width > 1024px) {
    .product {
        flex-basis: 30%;
    }
    .prodtext .title {
        width: 20%; 
    }
}


#about img, #contact img {
    max-width: 100px;
    border-radius: 50%;
}

footer {
    background-color: #264653;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}

footer p {
    margin: 0;
}
